<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Compawss</title>
  </head>
  <body>
    <header-section></header-section>
    <main>
      <div class="container my-5">
        <div class="row">
          <div class="col-sm">
            <h1>About Compawss</h1>
            <p>Welcome to Compawss, your compass to find paws!</p>

            <h2>Our Mission</h2>
            <p>Every pet deserves a loving home. Our mission is to make pet adoption easier, more accessible, and fast. We've created a unique platform that acts as a meta search engine for pet adoption, connecting you with various adoption agencies and
              shelters across the globe.</p>

            <h2>How Compawss Works</h2>
            <p>Compawss utilizes technology to simplify the pet adoption search process. It aggregates information from multiple adoption APIs, creating a one-stop destination to search for furry companions. Whether you're looking for a playful
              puppy, a wise old cat, or any other lovable creature, Compawss is here to guide you on your adoption journey in an interactive and easy manner.</p>

            <h2>Why Choose Compawss?</h2>
            <ol>
              <li class="my-3">
                <strong>Diversity of Options:</strong>
                Compawss provides a wide array of options from different adoption agencies and shelters. This ensures that you can find the perfect pet that matches your lifestyle and preferences.
              </li>
              <li class="my-3">
                <strong>Simplified Search:</strong>
                Our user-friendly interface allows you to easily search for pets based on criteria such as breed, size, and location (utilizing a map). Finding your new best friend has never been this straightforward.
              </li>
            </ol>
            <p>Thank you for choosing Compawss as your companion in the journey of pet adoption. Together, let's make a difference in the lives of these wonderful creatures.</p>
          </div>
        </div>
      </div>
    </main>
    <footer-section></footer-section>
  </body>
</html>
