<header>
  <div class="container-fluid text-bg-dark shadow">
    <div class="row">
      <div class="col-sm-2">
        <a routerLink="">
          <img alt="logo" class="logo img-fluid m-2" src="assets/images/logo.png">
        </a>
      </div>
      <div class="col-sm-10">
        <ul class="nav nav-pills gap-2 float-end m-2">
          <li class="nav-item">
            <a class="nav-link text-bg-light py-1 px-2 mt-1" routerLink="">
              <span class="fa-solid fa-paw fa-fw"></span>
              Search
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-bg-light py-1 px-2 mt-1" routerLink="/about">
              <span class="fa-regular fa-circle-question fa-fw"></span>
              About
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-bg-light py-1 px-2 mt-1" routerLink="/terms">
              <span class="fa-solid fa-file-signature fa-fw"></span>
              Terms
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
