<footer>
  <div class="container-fluid text-bg-dark shadow">
    <div class="container">
      <div class="row">
        <div class="col-sm text-center">
          <ul class="list-inline m-0">
            <li class="list-inline-item">
              <a routerLink="" class="text-light">Search</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/about" class="text-light">About</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/terms" class="text-light">Terms</a>
            </li>
          </ul>
          <p class="m-0">Boston University</p>
          <p class="m-0">CS701 - Rich Internet Application Development</p>
          <p class="m-0">Luis Salas</p>
        </div>
      </div>
    </div>
  </div>
</footer>
