<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Compawss</title>
  </head>
  <body>
    <header-section></header-section>
    <main>
      <div class="container my-5">
        <div class="row">
          <div class="col-sm">
            <h1>Terms of Use of Compawss</h1>

            <h2>Acceptance of Terms</h2>
            <p>Welcome to Compawss! By accessing and using our website, you agree to comply with and be bound by the following terms and conditions of use. If you do not agree to these terms, please refrain from using our services.</p>

            <h2>Use of the Platform</h2>

            <h3>Eligibility</h3>
            <p>You must be at least 18 years old to use Compawss. By using the platform, you affirm that you are of legal age to enter into this agreement.</p>

            <h3>Account Information</h3>
            <p>Compawss is an account free service. We do not collect information from our users in any way.</p>

            <h3>Prohibited Activities</h3>
            <p>You may not use Compawss for any illegal or unauthorized purpose. This includes, but is not limited to, engaging in any conduct that:</p>
            <ul>
              <li>Violates applicable laws and regulations.</li>
              <li>Infringes on the rights of others.</li>
              <li>Interferes with the operation of the platform.</li>
            </ul>

            <h2>Pet Adoption</h2>

            <h3>Adoption Process</h3>
            <p>Compawss acts as a meta search engine for pet adoption, connecting users with adoption agencies and shelters. We do not participate in the adoption process directly but facilitate the connection between potential adopters and adoption
              providers.</p>

            <h3>Adoption Agencies and Shelters</h3>
            <p>While we strive to provide accurate and up-to-date information, Compawss is not responsible for the actions or policies of adoption agencies and shelters. Users are encouraged to independently verify the details provided by these
              organizations.</p>

            <h2>Changes to Terms</h2>
            <p>Compawss reserves the right to modify these terms at any time. Any changes will be effective immediately upon posting. Continued use of the platform constitutes acceptance of the modified terms.</p>
          </div>
        </div>
      </div>
    </main>
    <footer-section></footer-section>
  </body>
</html>
